.container {
  max-width: 800px;
  margin: auto;
  flex-direction: column;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.sidebar {
  background-color: aqua;
  height: 100vh;
  flex-grow: 1;
}

.feed {
  background-color: blue;
  height: 100vh;
  flex-grow: 8;
}

.navbar {
  min-height: 50px;
}

.row {
  background-color: blueviolet;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
